<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <header class="sticky top-0 z-50 bg-white/90 backdrop-blur border-b border-gray-200">

        <div class="max-w-7xl mx-auto px-6 py-3 flex items-center justify-between">
            <div class="flex items-center gap-3">

                <span class="text-lg font-semibold text-green-700">
                    KRISHIQ
                </span>
            </div>
            <div class="flex items-center gap-4 text-sm">

                <a href="/mylistings" class="text-gray-600 hover:text-green-700">
                    My Listings
                </a>

                <a href="/buyerdeals" class="text-gray-600 hover:text-green-700">
                    Deals
                </a>

                <div class="relative">
                    <img src="https://i.pravatar.cc/40"
                        class="w-10 h-10 rounded-full cursor-pointer border-2 border-gray-300">
                </div>

            </div>

        </div>

    </header>
    All deals ->
    <div>

        <% deals.forEach(deal=> { %>

            <div style="border:1px solid gray; padding:10px; margin:10px">

                <h2>
                    <%= deal.cropId.cropName %>
                </h2>

                <p>Original Price: ₹<%= deal.cropId.price %>
                </p>
                <p>Offered Price: ₹<%= deal.offeredPrice %>
                </p>
                <p>Quantity: <%= deal.quantity %>
                </p>
                <p>Status: <%= deal.status %>
                </p>

                <% if (deal.status==="pending" ) { %>

                    <form action="/deal/accept/<%= deal._id %>" method="POST">
                        <button>Accept</button>
                    </form>

                    <form action="/deal/reject/<%= deal._id %>" method="POST">
                        <button>Reject</button>
                    </form>

                    <% } %>

            </div>

            <% }) %>
    </div>
</body>

</html>