<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KRISHIQ Marketplace</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body class="bg-gray-200 text-gray-800 font-sans">


    <nav class="bg-white px-[5%] py-4 flex justify-between items-center shadow-sm sticky top-0 z-50">
        <div class="text-lg font-semibold text-green-600 tracking-tight">KRISHIQ</div>
        <div class="gap-8 text-sm  flex items-center">


            <a href="/buyerdeals">Deals</a>
            <a href="/buyerprofile">Profile</a>
            <div class="relative">
                <img src="https://i.pravatar.cc/40"
                    class="w-10 h-10 rounded-full cursor-pointer border-2 border-gray-300">
            </div>
        </div>
    </nav>

    <div
        class="max-w-7xl mx-auto px-6 py-12 text-center bg-[url('https://i.pinimg.com/1200x/0e/28/4d/0e284ddb4e900c9108504ec1ae4a931c.jpg')] bg-cover rounded-xl">
        <h1 class="text-3xl md:text-4xl  mb-3">Buy Crops Directly From Farmers</h1>
        <p class=" text-black lg:text-gray-900  mb-8">Fair Prices • Fresh Harvest • No Middlemen</p>

        <div class="flex justify-center">
            <input type="text" placeholder="Search crops like wheat, tomatoes, onions..."
                class="w-full max-w-lg px-6 py-4 rounded-full border border-gray-200 shadow-md focus:outline-none ">
        </div>
    </div>


    <div class="max-w-7xl mx-auto px-6 pb-20">
        
        <div class=" bg-black h-[1px] mb-6 shadow-lg m-2"></div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">



            <% crops.forEach( crop=> { %>

                <div
                    class=" rounded-xl overflow-hidden shadow-md hover:shadow-xl hover:-translate-y-2 transition-all duration-300 flex flex-col justify-center border-[2px] border-gray-200 p-2">

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT24vgI7o0GIR8HMRVhN5pccxBB-Prpnw3Z9w&s"
                        class="w-full h-48 object-cover rounded-xl" alt="<%= crop.name %>">

                    <div class="p-5">

                        <div class="text-lg font-bold mb-1">
                            <%= crop.cropName %>
                        </div>

                        <div class="text-s text-gray-600 mb-3 flex items-center"><svg xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-6 h-6 text-gray-600">

                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75
                                a7.488 7.488 0 00-5.982 2.975
                                m11.964 0a9 9 0 10-11.964 0
                                m11.964 0A8.966 8.966 0 0112 21
                                a8.966 8.966 0 01-5.982-2.275
                                M15 9a3 3 0 11-6 0
                                3 3 0 016 0z" />

                            </svg>
                            Rajesh singh

                            <!-- <%= crop.farmer %> -->
                        </div>

                        <div class="flex items-center gap-3 text-sm text-gray-600 mb-4">


                            <div class="flex items-center gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-500" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                        d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l2.1 6.463a1 1 0 00.95.69h6.8c.969 0 1.371 1.24.588 1.81l-5.5 4a1 1 0 00-.364 1.118l2.1 6.463c.3.921-.755 1.688-1.538 1.118l-5.5-4a1 1 0 00-1.176 0l-5.5 4c-.783.57-1.838-.197-1.538-1.118l2.1-6.463a1 1 0 00-.364-1.118l-5.5-4c-.783-.57-.38-1.81.588-1.81h6.8a1 1 0 00.95-.69l2.1-6.463z" />
                                </svg>
                                <span class="font-medium text-gray-700">4.8
                                    <!-- <%= crop.rating %> -->
                                </span>
                            </div>


                            <div class="flex items-center gap-0.5">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-500" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                        d="M12 11c0-1.657-1.343-3-3-3S6 9.343 6 11c0 3 3 7 3 7s3-4 3-7z" />
                                </svg>
                                <span class="font-medium text-gray-700">12 km
                                    <!-- <%= crop.distance %> km -->
                                </span>
                            </div>

                        </div>

                        <div class="text-green-600 text-md font-medium mb-4">
                            ₹<%= crop.price %> / Quintal
                        </div>

                        <div class="text-zinc-600 text-md font-medium mb-4">
                            ₹<%= crop.quantity %> Kg
                        </div>

                        <a href="/cropdetails/<%= crop._id %>"
                            class="px-5 py-2 rounded-lg bg-grey-100 font-medium text-green-900 shadow-lg flex justify-center">
                            View Details
                        </a>

                    </div>
                </div>

                <% }) %>

                    

        </div>
    </div>

</body>

</html>